<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SZLG felvételi</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css'%} ">
    <script src="{% static 'app.js' %}"></script>  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Jost:wght@300&family=Roboto+Slab:wght@300&family=Spartan&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="baloldal">
            <div id="wrapper"><img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/14/1d/d5/b7/szent-laszlo-gimnazium.jpg" id="myImage"></div>
            <div class="cim"><h1>Kedves felvételiző!</h1></div>
            <div class="beji"> Az "Eredmények mutatása" gombbal meg tudod tekinteni az eredményedeidet</div>
        
        </div>
        <div id="jobboldal">
            {% csrf_token %} 
            <div class="form">
                <div class="omsor"> 
                    
                    <div class="azonosito nev">Név: </div>
                        <div class="info">{{név}}</div>
                    <div class="azonosito omszam">OM azonosító:</div>
                        <div class="info">{{om}}</div>
                     <button class="buttonka" onclick="mutatas()"> Eredmények mutatása</button>
                     <div class="azonosito tag">Tagozatok:</div>
                        
                    <div class="grid">
        
                        <div>A: </div>
                        {% if a == "True" %}
                            <div id="A">sikeres</div>    
                        {% else %}
                            <div id="A">sikertelen</div>    
                        {% endif %}

                        <div>B: </div>   
                        {% if b == "True " %}
                            <div id="B">sikeres</div>    
                        {% else %}
                            <div id="B">sikertelen</div>    
                        {% endif %}

                        <div>C: </div>
                        {% if c == "True" %}
                            <div id="C">sikeres</div>    
                        {% else %}
                            <div id="C">sikertelen</div>    
                        {% endif %}

                        <div>D: </div>
                        {% if d == "True" %}
                            <div id="D">sikeres</div>    
                        {% else %}
                            <div id="D">sikertelen</div>    
                        {% endif %}

                        
                        <div>E: </div>
                        {% if e == "True" %}
                            <div id="E">sikeres</div>    
                        {% else %}
                            <div id="E">sikertelen</div>    
                        {% endif %}

                        <div>F: </div>
                       {% if f == "True" %}
                            <div id="F">sikeres</div>    
                        {% else %}
                            <div id="F">sikertelen</div>    
                        {% endif %}
              
                    </div>
                </div>
    </div>
</body>
</html>