<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css'%} ">
    <script src="{% static 'app.js' %}"></script>  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Jost:wght@300&family=Roboto+Slab:wght@300&family=Spartan&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">

        <div id="baloldal">
            <div id="wrapper"><img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/14/1d/d5/b7/szent-laszlo-gimnazium.jpg" id="myImage"></div>
            <div class="cim"><h1>Üdvözlünk felvételiző!</h1></div>
            <div class="beji"> Ahhoz, hogy megtekintsd az eredményedeidet kérlek jelentkezz be!</div>
        
        </div>
        <div id="jobboldal">
            <div class="form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="omsor"> 
                        <div class="azonosito felso">Vezetéknév <br>
                            <input type="text" class="omtext" id="vnev" style="display: block" placeholder="Emil" name="vnev"></div>
                        <div class="azonosito kozep">Keresztnév</div>
                            <input type="text" class="omtext" id="knev" style="display: block" placeholder="Rahim" name="knev">
                        <div class="azonosito also">OM azonosító
                            <input type="text" class="omtext" id="azonosito" style="display: block" placeholder="123456789" name="azonosito"></div>
                     <!--<div class="buttonka" onclick="bejelentkezes()" type="submit"> Bejelentkezés</div>
                    input type="text" class="omtext"  id="szam" style="display: block" placeholder="123456789" maxlength="11" name="szam">
                    -->
                     <button class="buttonka">Küldés</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>