body{
    background:#1b1b1b;
    font-family: 'Jost', sans-serif;
    color:white;
}

.cim{
    margin:auto;
    text-align:center;
    font-size: 44px;
    margin-top:120px;
    -webkit-text-fill-color: white;
    text-transform: uppercase;
    font-weight: bolder;
    position:relative;
}
h1{
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
.beji{
    text-align:center;
    font-size: 24px;
    
}
.form{
    background-color: #1b1b1b;
    width:100%;
    height:100%;
}
#baloldal{
    width:50%;
    height:100%;
    left:0;
    position:absolute;
}
#jobboldal{
    width:50%;
    height:100%;
    right:0;
    position:absolute;
}
.container{
    top: 100px;
    position: fixed;
    width: 1650px;
    height: 75%;
    /* margin: auto; */
    /* text-align: center; */
    /* align-items: center; */
    /* align-self: center; */
    /* overflow-y: hidden; */
    transform: translate(calc(50vw - 50%));
    /* left: 50%; */
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 15px 5px;
}
#myImage {
    opacity: 0.4;
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 80%;
    position:absolute;
    filter: grayscale(50%)
}

/* or */

#wrapper {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    background-color: #000;
}
.omsor{
    width:300px;
    margin: auto;
    color:#66abff;
    padding-top: 100px;
}
input{
    display: block;
    background: #1b1b1b;
    border: none;
    border-bottom: 2px solid #66abff;
    font-size: 17px;
    color:white;
    width:295px;
    font-family: 'Jost', sans-serif;
}
.azonosito{
    font-size:15px;
    padding-top: 30px;
}
textarea:focus, input:focus{
    outline: none;
}
.buttonka{
    margin-top: 35px;
    font-weight: bold;
    width: 100%;
    height: 32px;
    background: #7f55c7;
    color: white;
    text-align: center;
    /* border: 1px solid black; */
    font-size: 16px;
    border:none;
    font-family: 'Jost', sans-serif;
}
button:hover{
    cursor:pointer;
}
.info{
    color:white;
    font-size:19px;
}
.grid {
    display: grid;
    grid-template-columns: 8% 40% 8% 40%;
    font-size: 19px;
    color: white;
    display:none;
}
.tag{
    padding-top:30px;
    display:none;
}
#A, #B, #C, #D, #E, #F{
    color:rgb(255 92 160);
}
button:focus {outline:0;}